---
import Intro from './Intro.astro';
import AboutMe from './AboutMe.astro';
import HafermanCarpet from './HafermanCarpet.astro';
import ErdosNumber from './ErdosNumber.astro';
import LBAM from './LBAM.astro';
import References from './References.astro';
---

<section id="about" class="max-w-6xl mx-auto px-4 py-12 space-y-16">
  <Intro />
  <AboutMe />
  <HafermanCarpet />
  <ErdosNumber />
  <LBAM />
  <References />
</section>
