---
// src/components/sections/References.astro
---

<section id="references" class="py-12 text-center">
  <h2 class="text-2xl font-semibold mb-4">References</h2>
  <p class="mb-6 text-lg">Here are some interesting pages related to me and my work:</p>
  <ul class="space-y-2 text-blue-500 text-lg">
    <li><a href="https://www.nps.edu/web/guest/vitae?p=02D34" target="_blank">NPS Vita</a></li>
    <li><a href="https://www.linkedin.com/in/jeffrey-haferman-8014077/" target="_blank">LinkedIn</a></li>
    <li><a href="https://weather.com/news/news/jeff-haferman-weather-channel-phd-meteorologist" target="_blank">PhD Weatherman</a></li>
    <li><a href="https://www.nps.edu/About/Supercomputing/Dedication" target="_blank">NPS Supercomputer Dedication</a></li>
    <li><a href="/supercomputer-brochure.pdf" target="_blank">NPS Supercomputer Brochure</a></li>
    <li><a href="/automatic-sequences-cover.jpg" target="_blank">Automatic Sequences Book Cover</a></li>
    <li><a href="/renderman-visualization.pdf" target="_blank">Presentation: Visualization using Renderman</a></li>
    <li><a href="/scientific-contributions.html" target="_blank">Scientific Contributions</a></li>
    <li><a href="/grant-award.pdf" target="_blank">$1 Million Grant</a></li>
    <li><a href="/azerbaijan-sister-city.pdf" target="_blank">Monterey Sister City in Azerbaijan</a></li>
  </ul>
</section>
